org: ieeeutec
service: api-pedidos2-service

provider:
  name: aws
  runtime: python3.12
  timeout: 30
  region: us-east-1
  iam:
    role: arn:aws:iam::064835158060:role/LabRole

resources:
  Resources:
    PedidosQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: sqs-pedidos-2
        VisibilityTimeout: 60

    PedidosProcesadosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: t_pedidos_procesados2
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: pedido_id
            AttributeType: N
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: pedido_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

functions:
  RegistrarPedido2:
    handler: RegistrarPedido.lambda_handler
    events:
      - http:
          path: peds/registrar
          method: post
          cors: true

  ProcesarPedido2:
    handler: ProcesarPedido.lambda_handler
    events:
      - http:
          path: peds/procesar
          method: get
          cors: true
      - sqs:
          arn: !GetAtt PedidosQueue.Arn
          batchSize: 10
          enabled: true
